@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8XG7Sy.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64RgK5Xk.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64f8N5Xk.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyovBJ.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyVVpfBJ.ttf) format("truetype");
}

/*@darkest-blue: #123354;
@darker-blue: #164069;
@darker-blue-trans: #1640693f;
@dark-blue: #0B67C1;
@blue: #0D80F2;
@light-blue: #3D99F5;*/

:root {
  --color-text-dark-primary:#afafaf;
  --color-text-hyperlink:#F7E06E;
  --color-border-highlight:#0077af;
}

* {
  scrollbar-color: #00273f transparent;
  scrollbar-width: thin;
  font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  border: none;
  margin: 1rem 0 0;
}

h1, h2 {
  color: #F7E06E;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
}

p {
  margin: 0 0 0.5em;
}

strong {
  color: #F7E06E;
}

section.secret {
  border-color: #911308;
  background-color: #300603;
  padding-top: 4px;
  font-weight: thin;
  margin: 4px 0;
  display: flex;
  flex-direction: column;

  button.reveal {
    margin-left: auto;
    margin-top: 0px;
    border: none;
    background-color: #911308;
    color: #dfdfdf;

    &:hover {
      background-color: #F2200D;
      color: white;
    }
  }
}

img {
  border-style: none;

  &#logo {
    display: none;
  }
}

nav#navigation {
  left: 20px;
}

.window-content {
  background-image: none !important;
  background-color: transparent !important;
  color: #dfdfdf;
}

.app {
  background-image: none;
  background-color: rgba(15, 15, 15, 0.937254902);
  border-radius: 20px;
  color: #dfdfdf;

  .window-header {
    background-color: #00273f;
    border-radius: 15px;
    border-bottom: none;
    margin: 5px;
  }

  .window-content {
    background-image: none !important;
    background-color: transparent !important;
    color: #dfdfdf;
  }
}

.minimized.window-header {
  margin: 0px;
}

input {
  &[type=text], &[type=number], &[type=password], &[type=date], &[type=time] {
    color: #F7E06E;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #00273f;
  }
}

select, textarea {
  color: #F7E06E;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #00273f;
}

input {
  &[type=text]:hover, &[type=number]:hover, &[type=password]:hover, &[type=date]:hover, &[type=time]:hover {
    border-color: #004f7f;
  }
}

select:hover, textarea:hover {
  border-color: #004f7f;
}

input {
  &[type=text]:focus, &[type=number]:focus, &[type=password]:focus, &[type=date]:focus, &[type=time]:focus {
    background-color: rgba(0, 79, 127, 0.2470588235);
    box-shadow: none;
  }
}

select:focus {
  background-color: rgba(0, 79, 127, 0.2470588235);
  box-shadow: none;
}

textarea {
  border-color: #00273f;

  &:focus {
    background-color: rgba(0, 79, 127, 0.2470588235);
    box-shadow: none;
    box-shadow: unset;
  }
}

.dark input {
  background: none;
  color: #F7E06E;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #00273f;

  &:hover {
    border-color: #004f7f;
  }

  &:focus {
    background-color: rgba(0, 79, 127, 0.2470588235);
    box-shadow: none;
  }
}

option, .sta.sheet.item option {
  color: #F7E06E;
  background-color: rgba(15, 15, 15, 0.937254902);
}

.button, button, form button, .dark button, .filepicker .current-dir button {
  background-color: #0077af;
  border: none;
  border-radius: 15px;
}

.button:hover, button:hover, form button:hover, .dark button:hover, .filepicker .current-dir button:hover {
  background-color: #009dff;
  box-shadow: none;
}

.button:focus, button:focus, form button:focus, .dark button:focus, .filepicker .current-dir button:focus {
  box-shadow: none;
}

a {
  &:hover {
    color: #FCF5CF;
    text-shadow: none;
  }

  &.content-link {
    background: #0077af;
    color: black;
    margin: 1px 0px;
    padding: 0px 4px;
    border: none;
    border-radius: 8px;

    i {
      color: black;
    }

    &:hover {
      background: #009dff;
    }
  }
}

form {
  .notes, .hint {
    color: #afafaf;
  }
}

.tox {
  background-color: #dfdfdf;
}

::-webkit-scrollbar-thumb {
  background: #00273f;
  border-color: transparent;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

.tabs .item {
  &.active {
    color: #F7E06E;
    text-shadow: unset;

    &:hover {
      color: #FCF5CF;
    }
  }

  &:hover {
    color: #009dff;
  }
}

.filepicker {
  .display-modes a {
    background-color: #0077af;
    border: unset;
    color: black;
    flex: 1 0 20px;
    margin-left: 3px;
    flex: 1;

    &.active {
      background-color: #F7E06E;
      border: unset;
      text-shadow: unset;

      &:hover {
        background-color: #FCF5CF;
      }
    }

    &:hover {
      background-color: #009dff;
    }
  }

  .directory > li {
    color: #dfdfdf;

    &:hover {
      color: white;
      text-shadow: unset;
    }

    &.picked {
      color: #F7E06E;

      &:hover {
        color: white;
      }
    }
  }
}

.folder-edit .window-content form input, .folder-create .window-content form input {
  color: #F7E06E;
}

.folder-edit .window-content form button, .folder-create .window-content form button {
  background-color: #0077af;
  border: none;
  border-radius: 15px;
}

.folder-edit .window-content form button:hover, .folder-create .window-content form button:hover {
  background-color: #009dff;
  box-shadow: none;
}

.folder-edit .window-content form button:focus, .folder-create .window-content form button:focus {
  box-shadow: none;
}

#sidebar {
  height: 100%;
  right: 0px;
  top: 0px;
  margin: 0px;

  &:not(.collapsed) {
    background: unset;
    background-color: rgba(15, 15, 15, 0.937254902);
    border-radius: 0px;
    width: 300px;

    > #sidebar-tabs {
      margin-left: unset;

      > {
        .item {
          background-color: #0077af;
          border: unset;
          color: black;
          flex: 1 0 20px;
          margin-left: 3px;

          &.active {
            background-color: #F7E06E;
            border: unset;
            text-shadow: unset;

            &:hover {
              background-color: #FCF5CF;
            }
          }

          &:hover, &:nth-child(odd):hover {
            background-color: #009dff;
          }

          &.active {
            :hover, &:nth-child(odd):hover {
              background-color: #FCF5CF;
            }
          }
        }

        .collapse {
          background-color: #0077af;
          border: unset;
          color: black;
          flex: 1 0 20px;
          margin-left: 3px;
          margin: 0 3px;

          &.active {
            background-color: #F7E06E;
            border: unset;
            text-shadow: unset;

            &:hover {
              background-color: #FCF5CF;
            }
          }

          &:hover {
            background-color: #009dff;
          }
        }
      }
    }

    ~ .sta.tracker-container {
      right: 304px;
    }
  }

  &::before, &::after {
    all: unset;
  }

  &.collapsed {
    border: none;

    > #sidebar-tabs {
      margin-left: unset;

      > {
        .item {
          background-color: #0077af;
          border: unset;
          color: black;
          flex: 1 0 20px;
          margin-left: 3px;
          margin: 0 0 3px;

          &.active {
            background-color: #F7E06E;
            border: unset;
            text-shadow: unset;

            &:hover {
              background-color: #FCF5CF;
            }
          }

          &:hover {
            background-color: #009dff;
          }

          &.active {
            border-radius: 0;
          }
        }

        .collapse {
          background-color: #0077af;
          border: unset;
          color: black;
          flex: 1 0 20px;
          margin-left: 3px;
          margin: 0;

          &.active {
            background-color: #F7E06E;
            border: unset;
            text-shadow: unset;

            &:hover {
              background-color: #FCF5CF;
            }
          }

          &:hover {
            background-color: #009dff;
          }
        }
      }
    }
  }

  .sidebar-tab {
    margin-left: unset;
    background: unset;
    border-top: unset;

    .directory-header {
      .create-entity, .create-folder {
        background-color: #0077af;
        border: none;
        border-radius: 15px;
        font-weight: unset;
      }

      .create-entity:hover, .create-folder:hover {
        background-color: #009dff;
        box-shadow: none;
      }

      .create-entity:focus, .create-folder:focus {
        box-shadow: none;
      }
    }
  }
}

#chat-log .chat-message {
  background-color: transparent;
  border: 0px none;
  border-radius: 0px;
  padding: 0px;
  margin: 8px 2px;
  color: #dfdfdf;

  .message-header {
    border-radius: 8px 0px 0px 0px;
    background-color: #00273f;
    padding: 0 4px 0 8px;
    color: white;
  }

  .message-content {
    border-left: 4px solid #00273f;
    border-radius: 0px;
    padding: 4px 4px 0px 4px;
    color: #dfdfdf;

    .dice-roll {
      .dice-formula, .dice-total {
        border: unset;
        border-radius: unset;
        box-shadow: unset;
      }

      .dice-formula {
        line-height: 16px;

        &.title {
          height: 45px;
          line-height: 45px;

          img {
            margin-right: 4px;
          }
        }
      }

      .dice-total {
        color: #F7E06E;
        font-family: "Teko", sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: unset;

        &.failure {
          color: #F54D3D;
        }
      }
    }

    .reroll-result {
      background-color: unset;
      margin-top: 0px;
      color: #0077af;

      &:hover {
        background-color: unset;
        color: #009dff;
      }
    }
  }

  .table-draw {
    .table-description {
      border: none;
      color: #dfdfdf;
    }

    .result-text a.entity-link {
      background: #0077af;
    }

    img.result-image {
      background: none;
    }
  }
}

#chat-controls {
  .roll-type-select {
    background: #000000;
  }

  .control-buttons a {
    background-color: unset;
    color: #0077af;

    &:hover {
      color: #009dff;
    }
  }
}

#chat-form textarea {
  color: #F7E06E;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #00273f;
  background: #000000;

  &:hover {
    border-color: #004f7f;
  }

  &:focus {
    background-color: rgba(0, 79, 127, 0.2470588235);
    box-shadow: none;
  }
}

.directory .directory-header .header-search input {
  background: #000000;
}

#context-menu li.context-item:hover {
  text-shadow: unset;
  background-color: #00273f;
}

.sta.tracker-container {
  right: 300px;
  bottom: 67px;
  display: flex;
  flex-direction: column;
  background-color: rgba(15, 15, 15, 0.937254902);
  border-radius: unset;
  border-top-left-radius: 20px;
  height: unset;

  &.hide {
    bottom: -190px;
    bottom: -100px;
  }

  .tracker-clickable {
    width: 25px;
    height: 30px;
    top: 5px;
    right: 0px;
    bottom: unset;
    z-index: 5;

    i.fas {
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      color: #dfdfdf;

      &:hover {
        color: #F7E06E;
      }
    }
  }

  .tracker {
    position: unset;
    width: 170px;
    height: unset;
    margin: 5px;
    border-radius: unset;

    &.momentum {
      background: unset;
      bottom: unset;

      .button-group {
        border-color: #00273f;
      }
    }

    &.threat {
      background: unset;
      bottom: unset;

      .button-group {
        border-color: #300603;

        .button {
          background-color: #911308;

          &:hover {
            background-color: #F2200D;
          }
        }

        .input {
          color: #F54D3D;
        }
      }

      .header {
        border-color: #300603;
      }
    }

    .button-group {
      display: flex;
      flex-direction: row;
      background-color: unset;
      border-radius: 15px;
      border-bottom-left-radius: 0px;
      border-width: 0px 25px;
      border-style: solid;
      margin: unset;
      width: 170px;
      height: 30px;

      .button {
        border-radius: 0px;
        flex-shrink: 0;
        color: black;
        width: 39px;
        margin: 0px 3px;
        text-align: center;
        vertical-align: middle;

        &.decrease, &.increase {
          padding: 0px;
        }

        i {
          text-align: center;
          vertical-align: middle;

          &:hover {
            cursor: unset;
            color: unset;
          }
        }
      }

      input {
        margin: 0px;
        flex-grow: 1;
        color: #F7E06E;
        font-family: "Teko", sans-serif;
        text-transform: uppercase;
        color: #3fafff;
        font-size: 28px;
        height: 28px;
        padding: 0px;
        margin: 2px 0px 0px 0px;
      }
    }

    .header {
      color: #F7E06E;
      font-family: "Teko", sans-serif;
      text-transform: uppercase;
      border-radius: unset;
      border: solid #00273f;
      border-width: 0px 0px 0px 6px;
      padding-right: 6px;
      background-color: unset;
      margin: unset;
      width: unset;
      font-size: 20px;
      height: 25px;
    }
  }
}

.left-halfcircle-border {
  border-radius: 18px 0 0 18px;
  border-width: 0 0 0 18px;
  box-shadow: unset;
  padding-left: 0px;
}

.right-bar-border {
  border-radius: unset;
  border-width: 0 8px 0 0;
  border-style: solid;
  box-shadow: unset;
  padding-right: 0px;
}

#controls {
  padding-top: 5px;

  ol {
    &.control-tools {
      &.main-controls {
        margin-left: 5px;
        margin-right: 0;
        border-radius: unset;
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
      }

      > li {
        box-sizing: border-box;
        width: 57px;
        background-color: transparent;
        border: unset;
        border-color: transparent;
        border-image-width: 0px;
        text-align: start;
        box-shadow: unset;
        padding-left: 18px;
        margin-bottom: 5px;

        > i.fas {
          box-sizing: content-box;
          width: 36px;
          height: 36px;
          line-height: 36px;
          color: black;
          background-color: #0077af;
          text-align: center;
          vertical-align: top;
          margin-left: 3px;
        }

        i {
          &.far, &.fa-solid, &.fa-regular {
            box-sizing: content-box;
            width: 36px;
            height: 36px;
            line-height: 36px;
            color: black;
            background-color: #0077af;
            text-align: center;
            vertical-align: top;
            margin-left: 3px;
          }
        }

        &.active {
          border-radius: 18px 0 0 18px;
          border-width: 0 0 0 18px;
          box-shadow: unset;
          padding-left: 0px;
          border-color: #F7E06E;

          > i.fas {
            background-color: #F7E06E;
          }

          i {
            &.far, &.fa-solid, &.fa-regular {
              background-color: #F7E06E;
            }
          }
        }

        &:hover {
          border-radius: 18px 0 0 18px;
          border-width: 0 0 0 18px;
          box-shadow: unset;
          padding-left: 0px;
          border-color: #009dff;

          > i.fas {
            background-color: #009dff;
          }

          i {
            &.far, &.fa-solid, &.fa-regular {
              background-color: #009dff;
            }
          }

          &.active {
            border-radius: 18px 0 0 18px;
            border-width: 0 0 0 18px;
            box-shadow: unset;
            padding-left: 0px;
            border-color: #FCF5CF;

            > i.fas {
              background-color: #FCF5CF;
            }

            i {
              &.far, &.fa-solid, &.fa-regular {
                background-color: #FCF5CF;
              }
            }
          }
        }
      }
    }

    &.sub-controls.active {
      margin-left: 3px;
      border-radius: unset;
      width: fit-content;
      display: flex;
      flex-direction: column;

      .control-tool {
        box-sizing: border-box;
        width: 47px;
        background-color: transparent;
        border: unset;
        border-color: transparent;
        border-image-width: 0px;
        text-align: start;
        box-shadow: unset;
        padding: 0 8px 0 0;
        margin: 0 0 5px 0;

        > i.fas {
          box-sizing: content-box;
          width: 36px;
          height: 36px;
          line-height: 36px;
          color: black;
          background-color: #0077af;
          text-align: center;
          vertical-align: top;
          margin-left: 0px;
        }

        i {
          &.far, &.fa-solid, &.fa-regular {
            box-sizing: content-box;
            width: 36px;
            height: 36px;
            line-height: 36px;
            color: black;
            background-color: #0077af;
            text-align: center;
            vertical-align: top;
            margin-left: 0px;
          }
        }

        &.active {
          border-radius: unset;
          border-width: 0 8px 0 0;
          border-style: solid;
          box-shadow: unset;
          padding-right: 0px;
          border-color: #F7E06E;

          > i.fas {
            background-color: #F7E06E;
          }

          i {
            &.far, &.fa-solid, &.fa-regular {
              background-color: #F7E06E;
            }
          }
        }

        &:hover {
          border-radius: unset;
          border-width: 0 8px 0 0;
          border-style: solid;
          box-shadow: unset;
          padding-right: 0px;
          border-color: #009dff;

          > i.fas {
            background-color: #009dff;
          }

          i {
            &.far, &.fa-solid, &.fa-regular {
              background-color: #009dff;
            }
          }

          &.active {
            border-radius: unset;
            border-width: 0 8px 0 0;
            border-style: solid;
            box-shadow: unset;
            padding-right: 0px;
            border-color: #FCF5CF;

            > i.fas {
              background-color: #FCF5CF;
            }

            i {
              &.far, &.fa-solid, &.fa-regular {
                background-color: #FCF5CF;
              }
            }
          }
        }

        &.toggle {
          > i.fas {
            box-sizing: border-box;
            border: 2px solid #0077af;
            background-color: rgba(15, 15, 15, 0.4980392157);
            color: #0077af;
          }

          i {
            &.far, &.fa-solid, &.fa-regular {
              box-sizing: border-box;
              border: 2px solid #0077af;
              background-color: rgba(15, 15, 15, 0.4980392157);
              color: #0077af;
            }
          }

          &.active {
            border-radius: unset;
            border-width: 0 8px 0 0;
            border-style: solid;
            box-shadow: unset;
            padding-right: 0px;
            border-color: #F7E06E;

            > i.fas {
              border: 2px solid #F7E06E;
              background-color: rgba(15, 15, 15, 0.4980392157);
              color: #F7E06E;
            }

            i {
              &.far, &.fa-solid, &.fa-regular {
                border: 2px solid #F7E06E;
                background-color: rgba(15, 15, 15, 0.4980392157);
                color: #F7E06E;
              }

              &.far:hover, &.fa-solid:hover, &.fa-regular:hover {
                border: 2px solid #FCF5CF;
                background-color: rgba(15, 15, 15, 0.4980392157);
                color: #FCF5CF;
              }
            }

            > i.fas:hover {
              border: 2px solid #FCF5CF;
              background-color: rgba(15, 15, 15, 0.4980392157);
              color: #FCF5CF;
            }

            &:hover {
              border-color: #FCF5CF;
            }
          }

          &:hover {
            border-radius: unset;
            border-width: 0 8px 0 0;
            border-style: solid;
            box-shadow: unset;
            padding-right: 0px;
            border-color: #009dff;

            > i.fas {
              border: 2px solid #009dff;
              background-color: rgba(15, 15, 15, 0.4980392157);
              color: #009dff;
            }

            i {
              &.far, &.fa-solid, &.fa-regular {
                border: 2px solid #009dff;
                background-color: rgba(15, 15, 15, 0.4980392157);
                color: #009dff;
              }
            }
          }
        }
      }
    }
  }
}

#ui-top {
  margin-top: 5px;

  &.offset {
    margin-left: -80px;

    nav#navigation {
      margin-top: unset;

      #nav-toggle {
        background: #0077af;
        border: none;
        border-radius: 17px 0 0 17px;
        color: black;
        margin-right: 3px;

        &:hover {
          background: #009dff;
          text-shadow: none;
        }
      }

      #scene-list .scene {
        border-radius: 0;
        border: unset;
        box-shadow: unset;
        background: #0077af;
        color: black;
        box-sizing: border-box;
        height: 34px;
        margin-right: 3px;
        margin-bottom: 5px;

        &:hover {
          background: #009dff;
          color: black;
        }

        a {
          color: unset;

          &:hover {
            color: unset;
          }
        }

        &.gm {
          border: 2px solid #0077af;
          background-color: rgba(15, 15, 15, 0.937254902);
          color: #0077af;

          &:hover {
            border-color: #009dff;
            color: #009dff;
          }
        }

        &.view {
          background: #F7E06E;

          &:hover {
            background: #FCF5CF;
          }

          &.gm {
            border-color: #F7E06E;
            color: #F7E06E;
            background: rgba(15, 15, 15, 0.937254902);

            &:hover {
              border-color: #FCF5CF;
              color: #FCF5CF;
            }
          }
        }

        &.active {
          font-weight: bold;
          background: #3D8F81;

          &:hover {
            background: #70C2B4;
          }

          &.view {
            background: #F7E06E;

            &:hover {
              background: #FCF5CF;
            }

            &.gm {
              border-color: #F7E06E;
              color: #F7E06E;
              background: rgba(15, 15, 15, 0.937254902);

              &:hover {
                border-color: #FCF5CF;
                color: #FCF5CF;
              }
            }
          }

          &.gm {
            border-color: #3D8F81;
            color: #3D8F81;
            background: rgba(15, 15, 15, 0.937254902);

            &:hover {
              border-color: #70C2B4;
              color: #70C2B4;
            }
          }
        }
      }
    }
  }
}

#keybindings .binding .key {
  background-color: #0077af;
  border: none;
  box-shadow: unset;

  &.uneditable {
    background: #00273f;
  }
}

.sta {
  text-align: start;

  .window-content {
    background-image: none !important;
    background-color: transparent !important;
    color: #dfdfdf;
    padding: 8px;
  }

  &.sheet {
    &.item {
      input {
        &[type=text], &[type=number] {
          color: #F7E06E;
        }
      }

      select {
        color: #F7E06E;
      }

      .text, .entry, .editor, .label {
        color: #dfdfdf;
      }

      .editor {
        min-height: 50px;

        .tox {
          min-height: 300px;
        }
      }
    }

    &.actor {
      .main-content {
        background: unset !important;
        padding: 0;
      }

      .lcars-column {
        border-color: #00273f;
        border-radius: 12px 0 0 0;
        border-style: solid;
        border-width: 24px 0 0 6px;
        flex: 12px;
        flex-grow: 0;
        flex-shrink: 1;

        .lcars-header-block1, .lcars-header-block2, .lcars-attribute-title-block, .lcars-attribute-general-block1, .lcars-attribute-general-block2, .lcars-attribute-general-block3, .lcars-item1-connect-block, .lcars-item2-connect-block, .lcars-item1-general-block, .lcars-item2-top-block, .lcars-item2-general-block1, .lcars-item2-general-block2, .lcars-header-extendedtask1, .lcars-header-extendedtask2, .lcars-header-extendedtask3, .lcars-header-extendedtask4, .lcars-body-extendedtask1, .lcars-body-extendedtask2 {
          background-color: #00273f;
          border-radius: unset;
          visibility: hidden;
        }
      }

      .main > .row {
        margin-bottom: 8px;
        max-height: 308px;

        .column .section {
          .header.row {
            background-color: unset;
            color: white;
            font-weight: unset;
            border: solid #00273f;
            border-width: 0 0 0 8px;
            margin-top: 4px;
          }

          .title {
            color: #F7E06E;
            font-family: "Teko", sans-serif;
            text-transform: uppercase;
            text-align: left;
            line-height: 24px;
            display: flex;
            margin-bottom: 4px;

            &::before {
              content: "";
              flex-grow: 1;
              background-color: #00273f;
              margin-right: 8px;
            }

            &::after {
              content: "";
              width: 20px;
              background-color: #00273f;
              margin-left: 8px;
              border-radius: 0 15px 15px 0;
              border-color: #00273f;
              border-width: 0 20px 0 0;
            }
          }

          .stat.row {
            flex-direction: row-reverse;
            align-items: center;
          }
        }
      }

      .header > .header-fields .row .column .check-button {
        color: #0077af;
        font-family: "Teko", sans-serif;
        text-transform: uppercase;
        font-weight: unset;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
        border: solid #0077af;
        border-width: 0 20px;
        width: unset;
        margin: 1px 1px 4px;

        &.btn3.acclaim:hover {
          color: #009dff;
          border-color: #009dff;
        }
      }

      .main > .row {
        .column {
          .section {
            .check-button {
              color: #F7E06E;
              font-family: "Teko", sans-serif;
              text-transform: uppercase;
              font-weight: unset;
              font-size: 24px;
              color: #0077af;
              text-align: center;
              background-color: transparent;
              border: solid #0077af;
              border-width: 0 20px;
              width: unset;
              margin: 8px 16px 4px;

              &.btn2.challenge {
                color: #911308;
                border-color: #911308;

                &:hover {
                  color: #F2200D;
                  border-color: #F2200D;
                }
              }

              &.btn.attribute {
                border-color: #0077af;

                &:hover {
                  color: #009dff;
                  border-color: #009dff;
                }
              }
            }

            .entry.row {
              &.talent-tooltip-container, &.focus-tooltip-container, &.injury-tooltip-container {
                border: unset;
              }

              &.talent-tooltip-container .list-entry.talent-tooltip-text, &.focus-tooltip-container .list-entry.talent-tooltip-text, &.injury-tooltip-container .list-entry.talent-tooltip-text {
                font-size: 12px;
                color: #afafaf;
                line-height: unset;
              }
            }

            &.scale, &.resistance, &.shaken, &.reservepower, &.scale2e {
              background-color: unset;
              display: flex;
              flex-direction: row;
              height: auto;
            }

            &.scale .title, &.resistance .title, &.shaken .title, &.reservepower .title, &.scale2e .title {
              flex-grow: 1;
              background-color: unset;
              display: unset;
              text-align: right;
              margin-left: 0;
              margin-right: 8px;
              line-height: 30px;
            }

            &.scale .title::before, &.resistance .title::before, &.shaken .title::before, &.reservepower .title::before, &.scale2e .title::before, &.scale .title::after, &.resistance .title::after, &.shaken .title::after, &.reservepower .title::after, &.scale2e .title::after {
              all: unset;
            }

            &.scale .field.numeric-entry, &.resistance .field.numeric-entry, &.shaken .field.numeric-entry, &.reservepower .field.numeric-entry, &.scale2e .field.numeric-entry {
              font-family: "Teko", sans-serif;
              text-transform: uppercase;
              color: #F7E06E;
              border-width: 1px;
              border-style: solid;
              border-radius: 0px;
              border-color: #00273f;
              flex-grow: 0;
              margin-right: 0;
              font-size: 24px;
            }

            &.scale .field.numeric-entry:hover, &.resistance .field.numeric-entry:hover, &.shaken .field.numeric-entry:hover, &.reservepower .field.numeric-entry:hover, &.scale2e .field.numeric-entry:hover {
              border-color: #004f7f;
            }

            &.scale .field.numeric-entry:focus, &.resistance .field.numeric-entry:focus, &.shaken .field.numeric-entry:focus, &.reservepower .field.numeric-entry:focus, &.scale2e .field.numeric-entry:focus {
              background-color: rgba(0, 79, 127, 0.2470588235);
              box-shadow: none;
            }

            .row .control {
              color: #0077af;

              &:hover {
                color: #009dff;
              }

              .edit {
                color: #0077af;

                &:hover {
                  color: #009dff;
                }
              }

              .delete {
                color: #911308;

                &:hover {
                  color: #F2200D;
                }
              }
            }

            &.img {
              padding-top: 4px;
              text-align: center;
            }
          }

          &.left-column, &.center-column, &.right-column {
            border: unset;
          }

          &.center-column, &.right-column {
            margin-left: 8px;
          }
        }

        &:nth-child(1) {
          .lcars-column {
            order: 0;
          }

          .column {
            &.left-column {
              order: 2;
              margin-left: 8px;
            }

            &.center-column {
              order: 1;
              margin-left: 0px;
            }

            &.right-column {
              order: 3;
            }
          }
        }
      }

      .main-content > .header {
        margin-bottom: 8px;
      }

      .header-fields {
        display: flex;
        flex-direction: column;
        padding: 0;

        .section.reputation {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          order: 4;

          .title {
            width: fit-content;
            height: 14px;
            margin: 0 4px;
          }

          .track {
            color: #dfdfdf;
            flex-grow: 1;

            .bar .box.rep {
              background-color: #00273f;
              color: #dfdfdf;
              flex-grow: 1;

              &:hover {
                background-color: #004f7f;
              }

              &.selected {
                background-color: #0077af;
                color: black;

                &:hover {
                  background-color: #009dff;
                }
              }
            }
          }
        }
      }

      &.character {
        .header .lcars-column {
          border-color: #00273f;
          border-radius: 0 0 0 12px;
          border-style: solid;
          border-width: 0 0 14px 6px;
        }

        .header-fields .row {
          &:nth-child(odd) {
            margin-bottom: 8px;
          }

          &:nth-child(3) input {
            color: #F7E06E;
            font-family: "Teko", sans-serif;
            text-transform: uppercase;
            font-size: 28px;
            height: 48px;
            line-height: 48px;
          }
        }
      }

      &.starship .header .lcars-column, &.smallcraft .header .lcars-column {
        border-color: #00273f;
        border-radius: 0 0 0 12px;
        border-style: solid;
        border-width: 0 0 26px 6px;
      }

      &.starship .header-fields .row:nth-child(2), &.smallcraft .header-fields .row:nth-child(2), &.starship .header-fields .row:nth-child(4), &.smallcraft .header-fields .row:nth-child(4) {
        margin-bottom: 8px;
      }

      &.starship .header-fields .row:nth-child(2) input {
        color: #F7E06E;
        font-family: "Teko", sans-serif;
        text-transform: uppercase;
        font-size: 28px;
        height: 48px;
        line-height: 48px;
      }

      &.smallcraft .header-fields .row {
        &:nth-child(2) input {
          color: #F7E06E;
          font-family: "Teko", sans-serif;
          text-transform: uppercase;
          font-size: 28px;
          height: 48px;
          line-height: 48px;
        }

        &:nth-child(4) {
          margin-bottom: 0;
        }
      }

      &.extendedtask .row {
        &:nth-child(1) {
          .lcars-column {
            border-width: 0 0 0 6px;
            border-radius: 0;
          }

          .column-headerfields1-name-extendedtasks, .column-headerfields1-other-extendedtasks {
            padding: 0;
            width: unset;
          }

          .column-headerfields1-name-extendedtasks input, .column-headerfields1-other-extendedtasks input {
            color: #F7E06E;
            font-family: "Teko", sans-serif;
            text-transform: uppercase;
            font-size: 28px;
            height: 48px;
            line-height: 48px;
          }

          .column-headerfields1-name-extendedtasks {
            flex-grow: 1;
            width: auto;
            margin-bottom: 8px;
          }

          .column-headerfields1-other-extendedtasks {
            flex-grow: 0;
            flex-shrink: 1;
            width: 60px;

            .numeric-entry {
              width: 100%;
              margin: unset;
            }

            &:nth-child(1) {
              margin-right: 1px;
            }
          }
        }

        &:nth-child(2) {
          margin-bottom: 8px;

          .lcars-column {
            border-color: #00273f;
            border-radius: 0 0 0 12px;
            border-style: solid;
            border-width: 0 0 26px 6px;
          }

          .column-headerfields2-extendedtasks {
            padding: 0;
            width: unset;

            .numeric-entry {
              width: 100%;
              margin: unset;
            }
          }
        }

        &:nth-child(3) {
          display: none;
        }

        &:nth-child(4) {
          border-color: #00273f;
          border-radius: 0 0 0 12px;
          border-style: solid;
          border-width: 0 0 24px 6px;
          content: "Progress";
          padding: 4px 0 0 2px;

          .lcars-column {
            display: none;
          }
        }

        .extendedtask-divider {
          display: none;
        }

        .track {
          flex-grow: 1;
          width: auto;

          .row {
            margin-bottom: 4px;
            padding: 0px;
            border: none;
          }

          .box.extendedtask {
            color: #F7E06E;
            font-family: "Teko", sans-serif;
            text-transform: uppercase;
            background-color: #0077af;
            color: black;

            &:hover {
              background-color: #009dff;
            }

            &.selected {
              background-color: #F7E06E;

              &:hover {
                background-color: #FCF5CF;
              }
            }
          }
        }
      }

      .title {
        color: #dfdfdf;
        font-size: 14px;
        text-align: start;
        vertical-align: bottom;
        height: unset;
      }

      .secondary-title {
        color: #dfdfdf;
      }

      .track .bar .box {
        border: unset;
        margin: 0 2px;

        &:hover {
          box-shadow: unset;
        }

        &.stress, &.shields {
          background-color: #911308;
          color: black;
          flex-grow: 1;
        }

        &.stress:hover, &.shields:hover {
          background-color: #F2200D;
        }

        &.stress.selected, &.shields.selected {
          background-color: #0077af;
          color: black;
        }

        &.stress.selected:hover, &.shields.selected:hover {
          background-color: #009dff;
        }

        &.determination, &.power {
          background-color: #00273f;
          color: #dfdfdf;
          flex-grow: 1;
        }

        &.determination:hover, &.power:hover {
          background-color: #004f7f;
        }

        &.determination.selected, &.power.selected {
          background-color: #F7E06E;
          color: black;
        }

        &.determination.selected:hover, &.power.selected:hover {
          background-color: #FCF5CF;
        }

        &.crew {
          background-color: #3D8F81;
          color: #dfdfdf;
          flex-grow: 1;

          &:hover {
            background-color: #70C2B4;
          }

          &.selected {
            background-color: #F7A76E;
            color: black;

            &:hover {
              background-color: #FAC49E;
            }
          }
        }
      }

      .text-entry {
        color: #F7E06E;
      }

      .numeric-entry {
        color: #F7E06E;
        text-align: end;
      }

      .list-entry {
        color: #dfdfdf;
      }

      .row.entry {
        align-items: center;
      }

      .attribute .list-entry, .discipline .list-entry, .system .list-entry, .department .list-entry {
        text-align: center;
      }

      .main .row .column .section.note .header.row.item {
        display: none;

        .one-column-no-roll {
          display: none;
        }
      }

      .belongings .two-column-with-roll-secondary {
        text-align: end;
        margin-right: 4px;
      }

      .section.crew {
        margin-top: 8px;
      }

      .label {
        color: #dfdfdf;
      }
    }
  }

  p {
    color: #dfdfdf;
  }

  h4.list-entry {
    margin-top: unset;
  }
}

.sheet.journal-entry .journal-entry-content {
  background: none;
  border: none;
}

.sta-form {
  .label {
    color: #dfdfdf;
  }

  .numeric-entry {
    color: #F7E06E;
    text-align: end;
  }
}

.app.dialog .window-content {
  .dialog-content {
    color: #dfdfdf;
    background-color: unset;
    padding: 0 13px;
  }

  .form-group {
    input, select {
      color: #F7E06E;
    }
  }

  .dialog-buttons {
    background-color: unset;
    margin: 5px;
  }
}

.dialog {
  > .window-content .dialog-button {
    &.roll.default {
      background-color: #0077af;
      color: black;
      font-weight: unset;
    }

    &.dialog-button {
      &.ok.default, &.yes, &.no {
        background-color: #0077af;
        color: black;
        font-weight: unset;
      }
    }

    &.roll.default:hover {
      background-color: #009dff;
    }

    &.dialog-button {
      &.ok.default:hover, &.yes:hover, &.no:hover {
        background-color: #009dff;
      }
    }
  }

  .dialog-buttons button {
    background-color: #0077af;
    border: none;
    border-radius: 15px;

    &:hover {
      background-color: #009dff;
      box-shadow: none;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.monks-active-tiles {
  div[data-tab=triggers] .action-items {
    .action-style {
      color: #F7E06E;
    }

    .value-style, .entity-style {
      color: white;
    }
  }

  &.sheet .items-list .item .item-name {
    color: #dfdfdf;
  }
}

.action-sheet .display-value {
  color: #F7E06E;
}

.prosemirror menu {
  background: none;

  .pm-dropdown {
    background: #0077af;
    border-radius: 0 13px 13px 0;
    color: black;

    i {
      color: black;

      &:hover {
        color: black;
      }
    }

    > i, > i:hover {
      color: black;
    }

    ul {
      background-color: #3D8F81;
      border: none;
      border-radius: 0;
      padding: 0px;
    }

    li {
      background: none;
      border-radius: 0;
      margin: 0;
      padding: 2px 8px;

      &:hover {
        background-color: #70C2B4;
      }
    }
  }

  button {
    background: #0077af;
    border-radius: 0px;

    &:hover {
      background-color: #009dff;
    }

    &.active {
      background-color: #F7E06E;

      &:hover {
        background-color: #FCF5CF;
      }
    }
  }
}
